@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --border: 240 5.9% 90%;
  }

  .dark {
    --background: 220 13% 9%;
    --foreground: 213 31% 91%;
    --card: 220 13% 9%;
    --card-foreground: 213 31% 91%;
    --border: 215 14% 20%;
  }


  html {
    scrollbar-gutter: stable;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    transition: background-color 0.2s ease, color 0.2s ease;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}