
@import "tailwindcss";


:root {
  --background: 240 5% 98%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --border: 240 5.9% 90%;
 
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  
}
html {
  
  scrollbar-gutter: stable;
}

body {
 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
